.gradle/
.idea/

/devices/target
/devices/build

/devices-rpi/target
/devices-rpi/build

/library/target
/library/build

/runtime/target
/runtime/build

/runtime/target
/runtime/build

/client-library/target
/client-library/build

/client/target

/documentation/target
/documentation/build
/.nb-gradle/

/out/